<h2 class="text-primary">
    Browse the <em>new-GSL</em><br/>
    <small class="text-muted">English Vocabulary interactive resource</small>
</h2>
<hr/>
<div>
    Here you can browse different versions of the <em>new-GSL:</em>
    <ul>
        <li type="square">
            <a href="http://applij.oxfordjournals.org/content/early/2013/08/25/applin.amt018/suppl/DC1" target="_blank">
                Alphabetical list [published version]
            </a>
        </li>
        <li type="square">
            <a href="docs/new_GSL_rank.pdf"  target="_blank">
                Frequency list [rank]
            </a>
        </li>
    </ul>
</div>
<div>
    The article from <em>Applied Linguistics</em> that describes the creation of the <em>new-GSL</em> is available from <a href="http://applij.oxfordjournals.org/content/early/2013/08/25/applin.amt018.full"  target="_blank">this link</a> [open access].
</div>