html,
	body {
		margin:0;
		padding:0;
		height:100%;
		font-family: 'Source Sans Pro', sans-serif;
	}
	#container {
		min-height:100%;
		position:relative;
		background: #F5F5F5;
	}
	#header {
		background:#5DADE2;
		padding:50px;
	}
	#body {
		
		margin-top:10px;
		margin-right:1%;
		margin-left:1%;
		padding:50px;
		padding-bottom:360px; /* Height of the footer + margin*/
		background: #F5F5F5;
		
		
	}
	#footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;			/* Height of the footer */
		background:#5DADE2;
	}
	/* other non-essential CSS */
	#header p,
	#header h1 {
		margin:0;
		padding:10px 0 0 10px;
	}
	#footer p {
		margin:0;
		padding:10px;
		font-size:x-small;
	}

	
/* headings*/

	#heading {
	font-size: 20pt;
	margin-bottom: 0px;
	color: #002952;
	}

	#subheading {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 15pt;
	font-weight: normal;
	color: gray;
	}

	#body h2 {
	font-size: 13pt
	}
/* menu code */
ul.menu
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
font-size: 18pt
}
ul.menu li
{
float:left;
}
ul.menu a:link,ul.menu a:visited
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#3498DB;
text-align:center;
padding:20px;
text-decoration:none;
text-transform:uppercase;
}
ul.menu a:hover,ul.menu a:active
{
background-color:#001F3D;
}

/*search box*/

.textinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #0076a3; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
	}
.button {
		margin: 0;
		padding: 5px 5px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color: #001F3D;
		border: solid 1px #0076a3; border-right:0px;
		
	}
.button:hover {
		text-decoration: none;
		background: #B2BCC5;
	}
div.box_left
{
	width:50%;
	padding:10px;
	border:5px solid gray;
	margin:0px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888888;
}
div.box_right
{
	width:65%;
	padding:10px;
	border:5px solid gray;
	margin:0px;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 5px #888888;
	position:relative;
	right:-15%;
}

div.scroll {
    width: 100%;
    height: 500px;
    overflow: scroll;
}


/*table*/

}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	background-color:#d3e9ff;
		

}
.CSSTableGenerator td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #0f3963;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:15px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #295887 5%, #295887 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #295887), color-stop(1, #295887) );
	background:-moz-linear-gradient( center top, #295887 5%, #295887 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#295887", endColorstr="#295887");	background: -o-linear-gradient(top,#295887,295887);

	background-color:#295887;
	border:0px solid #0f3963;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:15px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #295887 5%, #295887 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #295887), color-stop(1, #295887) );
	background:-moz-linear-gradient( center top, #295887 5%, #295887 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#295887", endColorstr="#295887");	background: -o-linear-gradient(top,#295887,295887);

	background-color:#295887;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}


