.first-nav {
    overflow: hidden;
}

.first-nav .nav-item {
    text-align: center;
}

._banner {
    position: relative;
    height: 70vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

._banner ._banner_bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/vocab/test/assets/banner.png");
    background-repeat: no-repeat;
    background-size: 125% 125%;
}

._banner div.jumbotron {
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-right: 0;
    margin: 0;
}

._banner .collapseSearchFormBtn {
    position: relative;
    left: -11em;
}

._banner .searchBtn {
    position: relative;
    left: -10em;
}

.auxNav-root .navbar-toggler {
    margin: 0.5rem 1rem;
    z-index: 1;
    display: none;
}

.auxNavbar-container {
    overflow: hidden;
}

.aux-nav {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.aux-nav .nav-item {
}

.aux-nav .nav-item .nav-link {
    color: rgb(51, 51, 51);
}

.aux-nav .nav-item .nav-link.active {
    color: rgb(131, 131, 131);
}

.aux-nav .nav-item .nav-link:hover {
    color: rgb(110, 110, 110);
}

.aux-nav .nav-item .nav-link {
    text-align: center;
}

.aux-nav .nav-item .nav-link img {
    width: 50px;
    height: 41px;
}

@media only screen and (max-width: 768px) {
    nav .collapseBannerBtn {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 700px) {
    ._banner .searchBtn {
        left: initial;
    }
}

@media only screen and (max-width: 623px) {
    ._banner .collapseSearchFormBtn {
        left: initial;
    }
}

@media only screen and (max-width: 575px) {
    .auxNav-root .navbar-toggler {
        display: block;
    }
}