<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a routerLink="/" routerLinkActive="active" class="navbar-brand d-none d-md-block px-4 font-weight-bold border border-white rounded">
        LancsLex
    </a>
    <button (click)="navbarShow = !navbarShow;" class="btn-outline-secondary navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul *ngIf="navbarShow" [@toggleNavbar] class="first-nav navbar-nav collapse navbar-collapse show">
        <li class="nav-item">
            <a href="https://lancaster.ac.uk" class="nav-link">Lancaster University</a>
        </li>
        <li class="nav-item">
            <a href="https://lancaster.account.box.com/login" class="nav-link">Lancaster Box</a>
        </li>
        <li class="nav-item">
            <a href="https://stats.com" class="nav-link">Stats</a>
        </li>
        <li class="nav-item">
            <a href="http://corpora.lancs.ac.uk/bnclab/search" class="nav-link">BNCLab</a>
        </li>
        <li class="nav-item">
            <a href="http://corpora.lancs.ac.uk/trinity/search" class="nav-link">Trinity</a>
        </li>
    </ul>
    <button type="button" class="btn btn-outline-secondary collapseBannerBtn" (click)="collapseBanner = !collapseBanner;"
        [attr.aria-expanded]="!collapseBanner" aria-controls="Collapse Banner">
        Toggle Banner
    </button>
</nav>

<div [@toggleBanner]="collapseBanner" class="_banner">
    <div parallax class="_banner_bg" [config]="parallaxConfig"></div>
    <div class="jumbotron h-100">
        <h1 class="display-4 font-weight-bold">LancsLex: Language Tool</h1><br/>
        <form class="form-inline position-relative">
            <div class="input-group input-group-lg">
                <input [(ngModel)]="searchTarget"
                       class="form-control"
                       type="text"
                       size="30"
                       placeholder="Word Search"
                       aria-label="Word Search"
                       name="searchTarget"/>
            </div>
            <button (click)="modalService.open(content);"
                    class="collapseSearchFormBtn btn btn-warning" type="button">
                Category Search <i class="fas fa-search-plus"></i>
            </button>
            <button (click)="searchByTarget();" class="searchBtn btn btn-success" type="submit">Search</button>
        </form>
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Search by Categories</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="btn-group" ngbDropdown role="group" aria-label="Semantic category selection">
                            <button type="button" class="btn btn-warning btn-large" ngbDropdownToggle type="button">
                                {{ semCategory.label }}
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('A', 'general terms');">
                                    general terms
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('B', 'body');">
                                    body
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('C', 'arts and crafts');">
                                    arts and crafts
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('E', 'emotion');">
                                    emotion
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('F', 'food and farming');">
                                    food and farming
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('G', 'government and public');">
                                    government and public
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('H', 'housing and architecture');">
                                    housing and architecture
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('I', 'money');">
                                    money
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('K', 'entertainment and sports');">
                                    entertainment and sports
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('L', 'life and living things');">
                                    life and living things
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('M', 'movement, location and transport');">
                                    movement, location and transport
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('N', 'numbers and measurement');">
                                    numbers and measurement
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('O', 'substances and objects');">
                                    substances and objects
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('P', 'education');">
                                    education
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('Q', 'language and communication');">
                                    language and communication
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('S', 'states and processes');">
                                    states and processes
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('T', 'time');">
                                    time
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('W', 'world and environment');">
                                    world and environment
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('X', 'psychological actions and processes');">
                                    psychological actions and processes
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('Y', 'science and technology');">
                                    science and technology
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeSemCategory('Z', 'grammar');">
                                    grammar
                                </button>
                            </div>
                        </div>
                        <div class="btn-group ml-4" ngbDropdown role="group" aria-label="Word Class selection">
                            <button type="button" class="btn btn-warning btn-medium" ngbDropdownToggle type="button">
                                {{ wordClass.label }}
                            </button>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('N', 'noun');">
                                    noun
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('V', 'verb');">
                                    verb
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('M', 'modal');">
                                    modal
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('J', 'adjective');">
                                    adjective
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('R', 'adverb');">
                                    adverb
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('C', 'connector');">
                                    connector
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('P', 'pronoun');">
                                    pronoun
                                </button>
                                <button type="button" class="dropdown-item" (click)="changeWordClass('X', 'other');">
                                    other
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button (click)="searchByCategory();" class="searchBtn btn btn-success" type="submit">Search</button>
            </div>
        </ng-template>
    </div>
</div>
<div class="auxNav-root nav-fill navbar-light bg-light">
    <button (click)="auxNavbarShow = !auxNavbarShow;" class="btn-secondary navbar-toggler position-absolute" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="auxNavbarShow" [@toggleAuxNavbar] class="auxNavbar-container">
        <ul class="aux-nav nav nav-menu navbar-nav navbar-expand-sm collapse navbar-collapse show">
            <li class="nav-item" [ngClass]="{'active': router.url == '/vocab-lists'}">
                <a routerLink="/vocab-lists" routerLinkActive="active" class="nav-link">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/vocab-lists-icon.png" class="img-fluid" alt="vocabulary lists icon"/>
                        </div>
                        <div class="col-12">
                            Vocabulary Lists
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url == '/new-gsl'}">
                <a routerLink="/new-gsl" routerLinkActive="active" class="nav-link">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/new-gsl-icon.png" class="img-fluid" alt="vocabulary lists icon"/>
                        </div>
                        <div class="col-12">
                            New GSL
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url == '/lexis'}">
                <a routerLink="/lexis" routerLinkActive="active" class="nav-link">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/lexis-icon.png" class="img-fluid" alt="vocabulary lists icon"/>
                        </div>
                        <div class="col-12">
                            Lexis
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url == '/morphology'}">
                <a routerLink="/morphology" routerLinkActive="active" class="nav-link">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/morphology-icon.png" class="img-fluid" alt="vocabulary lists icon"/>
                        </div>
                        <div class="col-12">
                            Morphology
                        </div>
                    </div>
                </a>
            </li>
            <li class="nav-item" [ngClass]="{'active': router.url == '/syntax'}">
                <a routerLink="/syntax" routerLinkActive="active" class="nav-link">
                    <div class="grid">
                        <div class="col-12">
                            <img src="assets/syntax-icon.png" class="img-fluid" alt="vocabulary lists icon"/>
                        </div>
                        <div class="col-12">
                            Syntax
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<main [@routeAnimations]="o.isActivated ? o.activatedRoute : ''" class="m-5 position-relative">
    <router-outlet #o="outlet"></router-outlet>
</main>
