.form-group textarea {
    max-width: 100%;
}

.anim-label {
    position: absolute;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    font-size: 1.1em;
    -webkit-transform: translate3d(1%, 110%, 0);
    -moz-transform: translate3d(1%, 110%, 0);
    -ms-transform: translate3d(1%, 110%, 0);
    -o-transform: translate3d(1%, 110%, 0);
    transform: translate3d(1%, 110%, 0);
}

.anim-label.focus {
    -webkit-transform: translate3d(1%, 0, 0);
    -moz-transform: translate3d(1%, 0, 0);
    -ms-transform: translate3d(1%, 0, 0);
    -o-transform: translate3d(1%, 0, 0);
    transform: translate3d(1%, 0, 0);
    font-size: 0.9em;
}