<h2 class="text-primary">
    Analyse your text with the <em>new-GSL</em><br/>
    <small class="text-muted">English Vocabulary interactive resource</small>
</h2>
<hr/>
<div *ngIf="msg.length > 0" class="alert alert-danger alert-dismissible">
    <button (click)="msg = '';" type="button" class="close" aria-label="close">&times;</button>
    <strong>Error:</strong> {{ msg }}
</div>
<form accept-charset="UTF-8">
    <div class="form-group">
        <label [ngClass]="{'focus': tAreaFocus}" for="data" class="anim-label animated">
            Paste the text you want to analyse into the text box.
            <code>{{ charLim - text.length }}</code> characters left.
        </label><br/>
        <textarea [(ngModel)]="text" (change)="limitCharLength();" (focus)="tAreaFocus = true;"
             (blur)="text.length > 0 ? tAreaFocus = true : tAreaFocus = false;"
             id="data" rows="20" cols="100" name="data"></textarea>
    </div>
    <div class="form-check form-check-inline">
        <label for="nouns">
            <input id="nouns" type="checkbox" name="proper" value="1" [(ngModel)]="nounChecked"/>
            &nbsp;filter proper nouns
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label for="numbers">
            <input id="numbers" type="checkbox" name="number" value="1" [(ngModel)]="numbersChecked"/>
            &nbsp;filter numbers
        </label>
    </div>
    <div class="form-check form-check-inline">
        <label for="american">
            <input id="american" type="checkbox" name="american" value="1" [(ngModel)]="americanChecked"/>
            &nbsp;include American supplement
        </label>
    </div>
    <div class="form-group">
        <button type="button" (click)="submitAnalysis();" class="btn btn-primary">
            Analyse text now
        </button>&nbsp;
        <button type="reset" class="btn btn-secondary">
            Clear
        </button>
    </div>
</form>