<h2 class="text-primary">
    New-GSL Search Results<br/>
    <small class="text-muted">English Vocabulary interactive resource</small>
</h2>
<ul *ngIf="searchTargetRes" class="mt-3 list-group list-group-flush w-50">
    <li *ngFor="let classRes of searchTargetRes" class="list-group-item">
        {{ classRes }}
    </li>
</ul>
<div *ngIf="categorySearchRes" class="mt-3 w-50">
    <h5>
        <strong>Semantic Category:</strong> {{ categorySearchRes.semCategory }}<strong>; Word Class:</strong> {{ categorySearchRes.wordClass }}
    </h5>
    <ul class="list-group list-group-flush">
        <li *ngFor="let category of categorySearchRes.results" class="list-group-item">
            <strong class="text-primary">{{ category[0] }}</strong>&nbsp;
            <h6 class="d-inline">{{ category[1] }}</h6>&nbsp;
            <strong class="text-danger">{{ category[2] }}</strong>
        </li>
    </ul>
</div>
<h6 *ngIf="errorMsg">{{ errorMsg }}</h6>